USE [master]
GO
/****** Object:  Database [UniversityAppointmentSystem]    Script Date: 07/05/2026 18:13:28 ******/
CREATE DATABASE [UniversityAppointmentSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UniversityAppointmentSystem', FILENAME = N'D:\SSMS\MSSQL17.SQLEXPRESS\MSSQL\DATA\UniversityAppointmentSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UniversityAppointmentSystem_log', FILENAME = N'D:\SSMS\MSSQL17.SQLEXPRESS\MSSQL\DATA\UniversityAppointmentSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UniversityAppointmentSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UniversityAppointmentSystem]
GO
/****** Object:  User [app_user]    Script Date: 07/05/2026 18:13:28 ******/
CREATE USER [app_user] FOR LOGIN [app_user] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [app_user]
GO
/****** Object:  Table [dbo].[AppointmentType]    Script Date: 07/05/2026 18:13:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppointmentType](
	[type_id] [int] IDENTITY(1,1) NOT NULL,
	[type_name] [nvarchar](100) NOT NULL,
	[duration_minutes] [int] NOT NULL,
	[capacity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 07/05/2026 18:13:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[booking_id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NOT NULL,
	[slot_id] [int] NOT NULL,
	[status] [nvarchar](20) NOT NULL,
	[booked_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 07/05/2026 18:13:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[course_id] [int] IDENTITY(1,1) NOT NULL,
	[course_name] [nvarchar](150) NOT NULL,
	[department_id] [int] NOT NULL,
	[professor_id] [int] NULL,
	[academic_level] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 07/05/2026 18:13:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[department_id] [int] IDENTITY(1,1) NOT NULL,
	[department_name_ar] [nvarchar](100) NOT NULL,
	[department_name_en] [nvarchar](100) NULL,
	[faculty_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[department_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Faculty]    Script Date: 07/05/2026 18:13:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faculty](
	[faculty_id] [int] IDENTITY(1,1) NOT NULL,
	[faculty_name_ar] [nvarchar](100) NOT NULL,
	[faculty_name_en] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[faculty_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Professor]    Script Date: 07/05/2026 18:13:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Professor](
	[professor_id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](150) NOT NULL,
	[email] [nvarchar](150) NULL,
	[phone] [nvarchar](20) NULL,
	[department_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[professor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 07/05/2026 18:13:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[student_id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](150) NOT NULL,
	[student_number] [nvarchar](20) NOT NULL,
	[national_id] [char](14) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[email] [nvarchar](150) NOT NULL,
	[academic_level] [nvarchar](50) NULL,
	[faculty_id] [int] NOT NULL,
	[department_id] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeSlot]    Script Date: 07/05/2026 18:13:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSlot](
	[slot_id] [int] IDENTITY(1,1) NOT NULL,
	[slot_date] [date] NOT NULL,
	[start_time] [time](7) NOT NULL,
	[end_time] [time](7) NOT NULL,
	[professor_id] [int] NOT NULL,
	[type_id] [int] NOT NULL,
	[course_id] [int] NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[slot_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AppointmentType] ON 

INSERT [dbo].[AppointmentType] ([type_id], [type_name], [duration_minutes], [capacity]) VALUES (1, N'مراجعة مادة', 30, 1)
INSERT [dbo].[AppointmentType] ([type_id], [type_name], [duration_minutes], [capacity]) VALUES (2, N'استفسار عن مادة', 30, 1)
INSERT [dbo].[AppointmentType] ([type_id], [type_name], [duration_minutes], [capacity]) VALUES (3, N'مناقشة مشروع', 45, 1)
SET IDENTITY_INSERT [dbo].[AppointmentType] OFF
GO
SET IDENTITY_INSERT [dbo].[Booking] ON 

INSERT [dbo].[Booking] ([booking_id], [student_id], [slot_id], [status], [booked_at]) VALUES (1, 1, 4, N'booked', CAST(N'2026-05-03T03:08:56.320' AS DateTime))
SET IDENTITY_INSERT [dbo].[Booking] OFF
GO
SET IDENTITY_INSERT [dbo].[Course] ON 

INSERT [dbo].[Course] ([course_id], [course_name], [department_id], [professor_id], [academic_level]) VALUES (1, N'Database Systems', 1, 1, N'الفرقة الثالثة')
INSERT [dbo].[Course] ([course_id], [course_name], [department_id], [professor_id], [academic_level]) VALUES (2, N'Data Structures', 1, 2, N'الفرقة الثانية')
INSERT [dbo].[Course] ([course_id], [course_name], [department_id], [professor_id], [academic_level]) VALUES (3, N'Data Mining', 2, 3, N'الفرقة الثالثة')
SET IDENTITY_INSERT [dbo].[Course] OFF
GO
SET IDENTITY_INSERT [dbo].[Department] ON 

INSERT [dbo].[Department] ([department_id], [department_name_ar], [department_name_en], [faculty_id]) VALUES (1, N'علوم الحاسب', N'Computer Science', 1)
INSERT [dbo].[Department] ([department_id], [department_name_ar], [department_name_en], [faculty_id]) VALUES (2, N'علوم البيانات', N'Data Science', 1)
INSERT [dbo].[Department] ([department_id], [department_name_ar], [department_name_en], [faculty_id]) VALUES (3, N'الكيمياء', N'Chemistry', 1)
SET IDENTITY_INSERT [dbo].[Department] OFF
GO
SET IDENTITY_INSERT [dbo].[Faculty] ON 

INSERT [dbo].[Faculty] ([faculty_id], [faculty_name_ar], [faculty_name_en]) VALUES (1, N'كلية العلوم', N'Faculty of Science')
SET IDENTITY_INSERT [dbo].[Faculty] OFF
GO
SET IDENTITY_INSERT [dbo].[Professor] ON 

INSERT [dbo].[Professor] ([professor_id], [full_name], [email], [phone], [department_id]) VALUES (1, N'د. حنان حامد', N'hanan.hamed@science.edu.eg', N'01055556666', 1)
INSERT [dbo].[Professor] ([professor_id], [full_name], [email], [phone], [department_id]) VALUES (2, N'د. محمود سمير', N'mahmoud.samir@science.edu.eg', N'01111111111', 1)
INSERT [dbo].[Professor] ([professor_id], [full_name], [email], [phone], [department_id]) VALUES (3, N'د. سارة عادل', N'sara.adel@science.edu.eg', N'01122222222', 2)
SET IDENTITY_INSERT [dbo].[Professor] OFF
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([student_id], [full_name], [student_number], [national_id], [phone], [email], [academic_level], [faculty_id], [department_id], [created_at]) VALUES (1, N'أحمد محمد علي', N'20231045', N'30101011234567', N'01011112222', N'ahmed.ali@science.edu.eg', N'الفرقة الثالثة', 1, 1, CAST(N'2026-05-02T23:35:22.160' AS DateTime))
INSERT [dbo].[Student] ([student_id], [full_name], [student_number], [national_id], [phone], [email], [academic_level], [faculty_id], [department_id], [created_at]) VALUES (2, N'سارة محمد حسن', N'20231046', N'30202021234567', N'01022223333', N'sara.hassan@science.edu.eg', N'الفرقة الثالثة', 1, 2, CAST(N'2026-05-02T23:35:22.160' AS DateTime))
INSERT [dbo].[Student] ([student_id], [full_name], [student_number], [national_id], [phone], [email], [academic_level], [faculty_id], [department_id], [created_at]) VALUES (3, N'عمر خالد محمود', N'20231047', N'30303031234567', N'01033334444', N'omar.khaled@science.edu.eg', N'الفرقة الثانية', 1, 1, CAST(N'2026-05-02T23:35:22.160' AS DateTime))
SET IDENTITY_INSERT [dbo].[Student] OFF
GO
SET IDENTITY_INSERT [dbo].[TimeSlot] ON 

INSERT [dbo].[TimeSlot] ([slot_id], [slot_date], [start_time], [end_time], [professor_id], [type_id], [course_id], [is_active]) VALUES (1, CAST(N'2026-05-10' AS Date), CAST(N'09:00:00' AS Time), CAST(N'09:30:00' AS Time), 1, 1, 1, 1)
INSERT [dbo].[TimeSlot] ([slot_id], [slot_date], [start_time], [end_time], [professor_id], [type_id], [course_id], [is_active]) VALUES (2, CAST(N'2026-05-10' AS Date), CAST(N'09:30:00' AS Time), CAST(N'10:00:00' AS Time), 1, 2, 1, 1)
INSERT [dbo].[TimeSlot] ([slot_id], [slot_date], [start_time], [end_time], [professor_id], [type_id], [course_id], [is_active]) VALUES (3, CAST(N'2026-05-10' AS Date), CAST(N'10:00:00' AS Time), CAST(N'10:45:00' AS Time), 1, 3, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[TimeSlot] OFF
GO
/****** Object:  Index [UQ_Booking_Student_Slot]    Script Date: 07/05/2026 18:13:29 ******/
ALTER TABLE [dbo].[Booking] ADD  CONSTRAINT [UQ_Booking_Student_Slot] UNIQUE NONCLUSTERED 
(
	[student_id] ASC,
	[slot_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Faculty__AAC4BC6BFD1D2A53]    Script Date: 07/05/2026 18:13:29 ******/
ALTER TABLE [dbo].[Faculty] ADD UNIQUE NONCLUSTERED 
(
	[faculty_name_ar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Professo__AB6E6164298866EB]    Script Date: 07/05/2026 18:13:29 ******/
ALTER TABLE [dbo].[Professor] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Student__0E749A79084D9583]    Script Date: 07/05/2026 18:13:29 ******/
ALTER TABLE [dbo].[Student] ADD UNIQUE NONCLUSTERED 
(
	[student_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Student__9560E95D4537804E]    Script Date: 07/05/2026 18:13:29 ******/
ALTER TABLE [dbo].[Student] ADD UNIQUE NONCLUSTERED 
(
	[national_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Student__AB6E6164D574DC27]    Script Date: 07/05/2026 18:13:29 ******/
ALTER TABLE [dbo].[Student] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AppointmentType] ADD  DEFAULT ((1)) FOR [capacity]
GO
ALTER TABLE [dbo].[Booking] ADD  DEFAULT ('booked') FOR [status]
GO
ALTER TABLE [dbo].[Booking] ADD  DEFAULT (getdate()) FOR [booked_at]
GO
ALTER TABLE [dbo].[Student] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[TimeSlot] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Student] FOREIGN KEY([student_id])
REFERENCES [dbo].[Student] ([student_id])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Student]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_TimeSlot] FOREIGN KEY([slot_id])
REFERENCES [dbo].[TimeSlot] ([slot_id])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_TimeSlot]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_Department] FOREIGN KEY([department_id])
REFERENCES [dbo].[Department] ([department_id])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_Department]
GO
ALTER TABLE [dbo].[Course]  WITH CHECK ADD  CONSTRAINT [FK_Course_Professor] FOREIGN KEY([professor_id])
REFERENCES [dbo].[Professor] ([professor_id])
GO
ALTER TABLE [dbo].[Course] CHECK CONSTRAINT [FK_Course_Professor]
GO
ALTER TABLE [dbo].[Department]  WITH CHECK ADD  CONSTRAINT [FK_Department_Faculty] FOREIGN KEY([faculty_id])
REFERENCES [dbo].[Faculty] ([faculty_id])
GO
ALTER TABLE [dbo].[Department] CHECK CONSTRAINT [FK_Department_Faculty]
GO
ALTER TABLE [dbo].[Professor]  WITH CHECK ADD  CONSTRAINT [FK_Professor_Department] FOREIGN KEY([department_id])
REFERENCES [dbo].[Department] ([department_id])
GO
ALTER TABLE [dbo].[Professor] CHECK CONSTRAINT [FK_Professor_Department]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Department] FOREIGN KEY([department_id])
REFERENCES [dbo].[Department] ([department_id])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Department]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Faculty] FOREIGN KEY([faculty_id])
REFERENCES [dbo].[Faculty] ([faculty_id])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Faculty]
GO
ALTER TABLE [dbo].[TimeSlot]  WITH CHECK ADD  CONSTRAINT [FK_TimeSlot_AppointmentType] FOREIGN KEY([type_id])
REFERENCES [dbo].[AppointmentType] ([type_id])
GO
ALTER TABLE [dbo].[TimeSlot] CHECK CONSTRAINT [FK_TimeSlot_AppointmentType]
GO
ALTER TABLE [dbo].[TimeSlot]  WITH CHECK ADD  CONSTRAINT [FK_TimeSlot_Course] FOREIGN KEY([course_id])
REFERENCES [dbo].[Course] ([course_id])
GO
ALTER TABLE [dbo].[TimeSlot] CHECK CONSTRAINT [FK_TimeSlot_Course]
GO
ALTER TABLE [dbo].[TimeSlot]  WITH CHECK ADD  CONSTRAINT [FK_TimeSlot_Professor] FOREIGN KEY([professor_id])
REFERENCES [dbo].[Professor] ([professor_id])
GO
ALTER TABLE [dbo].[TimeSlot] CHECK CONSTRAINT [FK_TimeSlot_Professor]
GO
ALTER TABLE [dbo].[AppointmentType]  WITH CHECK ADD  CONSTRAINT [CHK_AppointmentType_Capacity] CHECK  (([capacity]>(0)))
GO
ALTER TABLE [dbo].[AppointmentType] CHECK CONSTRAINT [CHK_AppointmentType_Capacity]
GO
ALTER TABLE [dbo].[AppointmentType]  WITH CHECK ADD  CONSTRAINT [CHK_AppointmentType_Duration] CHECK  (([duration_minutes]>=(30)))
GO
ALTER TABLE [dbo].[AppointmentType] CHECK CONSTRAINT [CHK_AppointmentType_Duration]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [CHK_Booking_Status] CHECK  (([status]='completed' OR [status]='cancelled' OR [status]='booked'))
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [CHK_Booking_Status]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [CHK_Student_NationalId] CHECK  ((NOT [national_id] like '%[^0-9]%' AND len([national_id])=(14)))
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [CHK_Student_NationalId]
GO
ALTER TABLE [dbo].[TimeSlot]  WITH CHECK ADD  CONSTRAINT [CHK_TimeSlot_Time] CHECK  (([start_time]<[end_time]))
GO
ALTER TABLE [dbo].[TimeSlot] CHECK CONSTRAINT [CHK_TimeSlot_Time]
GO
USE [master]
GO
